# Node
node_modules/

# Production build
build/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
dist/
.cache/
coverage/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
.sass-cache
